*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e0c7c7;
}

.main{
     margin-top: 40px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 

.form-group{
    background-color: #f5f5f5;
    height: 580px;
    max-width: 360px;
    flex-grow: 1;
    padding: 2rem 2rem;
    border-radius: 20px;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bt1{
    display: flex;
    height: 40px;
    width: 280px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bt1 > a{
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.bt1 > i{
    color: grey;
}

.box{
    height: 1px;
    width: 280px;
    background-color: grey;
    margin: 20px 0;
}

.form-input1{
    height: 40px;
    width: 280px;
    margin: 10px 0;
    border-radius: 6px;
    border: grey solid 2.5px;
}

.form-input2{
    height: 20px;
    width: 250px;
    border: 0;
    margin: 10px 0;
    outline: none;
}

.form-pass{
    height: 40px;
    width: 280px;
    border:grey solid 1px;
    margin: 10px 0;
    background-color: #fff;
    outline: grey solid 0.5px;
    border-radius: 6px;
}

.form-pass > i{
    color: grey;
}

.form-check{
    font-size: large;
    color: rgb(97, 94, 94);
    margin: 10px 0;
}

.bt2{
    height: 40px;
    width: 280px;
    margin: 10px 0;
    border-radius: 6px;
    background-color: rgb(0, 81, 255);
}

.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(0, 81, 255);
    font-size: 18px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 18px;
}

